:root {
	--prfr-button-text-color: #fff;
	--prfr-button-background-color: #611431;
	--prfr-button-hover-color: #363636;
	--prfr-product-border-color: #eee;
}

.prfr-products-multiple {
	padding-top:15px;
	padding-bottom:15px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.prfr-product {
	box-sizing: border-box;
	padding: 1rem;
	border: 1px solid var(--prfr-product-border-color);
	flex-direction: column;
	display: flex;
}


	.prfr-product h3{
		font-size: 18px;
		margin-bottom: 10px;
		display: -webkit-box; /* Enables the clamping behavior */
		-webkit-line-clamp: 2; /* Limits to 2 lines */
		-webkit-box-orient: vertical; /* Sets the box orientation */
		overflow: hidden; /* Hides overflowing text */
		text-overflow: ellipsis; /* Adds the ... for overflowing text */
		height: 3em; /* Ensures consistent height (2 lines at font-size of 18px) */
		line-height: 1.5em; /* Adjust line spacing to match the height */
	}

	.prfr-product .prfr-product-image img {
		display:block;
		margin:0 auto;
		padding:10px 0;
	}

	.prfr-product .prfr-product-description{
		font-size:16px;

	}

	.prfr-product .prfr-product-price{
		width:100%;
		text-align:center;
		padding:10px 0;
		font-weight:bold;
		font-size:20px;
		margin-top: auto;
	}
	.prfr-product.prfr-sale-product .prfr-product-price{
		color:#f16a52;
	}

	.prfr-product .prfr-product-price .prfr-original-price {
		font-size:14px;
		text-decoration: line-through;
		margin-left:5px;
		color:initial;
	}
	.prfr-product .prfr-product-price .prfr-original-price::before {
		content: "/";
	}

	.prfr-product .prfr-button-link{
		display:block;
		width:100%;
		padding: 5px 0;
		background-color:var(--prfr-button-background-color);
		color:var(--prfr-button-text-color) !important;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
	}
		.prfr-product .prfr-button-link:hover{
			background-color:var(--prfr-button-hover-color);
		}
